 body {
            background-color: #00425A;
        }

#joinForm {
	font-size: 27px;
	margin: 20px;
}

.back {
	margin: auto;
	width: 800px;
	background-color: #EEEFF1;
	border-radius: 5px;
	text-align: center;
	padding: 30px;
}

input {
	margin: 2px;
	width: 350px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	float: center;
}

#btn {
	width: 100px;
	padding: 8px;
	background-color: #FC7300;
	border: none;
	border-radius: 5px;
	position: absolute;
}

#btn1 {
	width: 100px;
	padding: 8px;
	background-color: #FC7300;
	border: none;
	border-radius: 5px;
	position: absolute;
}

#join {
	margin: 30px;
	width: 350px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #FC7300;
	float: center;
}
